.cache
*.swp
.#*
__pycache__/
backend/tmp/
backend/db.sqlite3
backend/db.sqlite3-journal
backend/dbtest.sqlite3
backend/dbtest.sqlite3-journal
backend/media/
backend/.cache/
backend/datadump.json
db.sadhguru.sqlite3
backend/db.nithyananda.sqlite3-journal
backend/data.json
db.sqlite3
logs/log
backend/videos/

.netlify
backend/dist
.firebase
.pytest_cache
backend/firebase-debug.log
backend/firestore-debug.log
backend/ui-debug.log
firebase-debug.log
firestore-debug.log
ui-debug.log

tests/end2end/emulator-data/
emulator-data/
backend/output.txt
node_modules/
.httpx-cache
cache.tar.gz
dump.rdb
db-backup.json
htmlcov

.calva
.clj-kondo/.cache/
