.cache
*.swp
.#*
__pycache__/
backend/tmp/
backend/db.sqlite3
backend/db.sqlite3-journal
backend/dbtest.sqlite3
backend/dbtest.sqlite3-journal
backend/media/
backend/.cache/
backend/datadump.json
db.sadhguru.sqlite3
backend/db.nithyananda.sqlite3-journal
backend/data.json
db.sqlite3
logs/log
backend/videos/

.netlify
backend/dist
.firebase
.pytest_cache
backend/firebase-debug.log
backend/firestore-debug.log
backend/ui-debug.log
firebase-debug.log
firestore-debug.log
ui-debug.log

tests/end2end/emulator-data/
emulator-data/
backend/output.txt
node_modules/
.httpx-cache
cache.tar.gz
dump.rdb
db-backup.json
htmlcov/coverage_html.js
htmlcov/d_42ce2d0ff3f9ff85___init___py.html
htmlcov/d_42ce2d0ff3f9ff85_db_py.html
htmlcov/d_42ce2d0ff3f9ff85_downloader_py.html
htmlcov/d_42ce2d0ff3f9ff85_publisher_py.html
htmlcov/d_42ce2d0ff3f9ff85_utils_py.html
htmlcov/d_42ce2d0ff3f9ff85_youtube_api_py.html
htmlcov/d_a44f0ac069e85531___init___py.html
htmlcov/d_a44f0ac069e85531_test_all_py.html
htmlcov/favicon_32.png
htmlcov/index.html
htmlcov/keybd_closed.png
htmlcov/keybd_open.png
htmlcov/status.json
htmlcov/style.css
