.cache
*.swp
.#*
__pycache__/
backend/tmp/
backend/db.sqlite3
backend/db.sqlite3-journal
backend/dbtest.sqlite3
backend/dbtest.sqlite3-journal
backend/media/
backend/.cache/
backend/datadump.json
db.sadhguru.sqlite3
backend/db.nithyananda.sqlite3-journal
backend/data.json
db.sqlite3
logs/log
backend/videos/

.netlify
backend/dist
.firebase
.pytest_cache
