[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
pylint = "*"
django-extensions = "*"

[packages]
executor = "*"
ipfsapi = "*"
autologging = "*"
google-cloud-dns = "*"
pyyaml = "*"
python-wordpress-xmlrpc = "*"
django = "*"
youtube-dl = {editable = true,git = "https://github.com/rg3/youtube-dl.git"}

[requires]
python_version = "3.6"
