astroid==2.3.2
Autologging==1.3.2
backcall==0.1.0
base58==1.0.3
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
coloredlogs==10.0
decorator==4.4.1
Django==2.2.7
django-extensions==2.2.5
executor==21.3
fasteners==0.15
google-api-core==1.14.3
google-auth==1.7.0
google-cloud-core==1.0.3
google-cloud-dns==0.31.0
googleapis-common-protos==1.6.0
humanfriendly==4.18
idna==2.8
ipdb==0.12.2
ipfsapi==0.4.4
ipfshttpclient==0.4.12
ipython==7.9.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
monotonic==1.5
multiaddr==0.0.8
netaddr==0.7.19
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pip-autoremove==0.9.1
prompt-toolkit==2.0.10
property-manager==2.3.1
protobuf==3.10.0
ptyprocess==0.6.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
Pygments==2.4.2
pylint==2.4.3
pypandoc==1.4
python-wordpress-xmlrpc==2.3
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
rsa==4.0
six==1.12.0
sqlparse==0.3.0
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.6
varint==1.0.2
verboselogs==1.7
wcwidth==0.1.7
wrapt==1.11.2
