alembic==1.0.7
Autologging==1.2.1
backcall==0.1.0
banal==0.4.2
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
coloredlogs==10.0
dataset==1.1.1
decorator==4.3.2
Django==2.1.5
django-extensions==2.1.5
executor==21.3
fasteners==0.14.1
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-dns==0.29.2
googleapis-common-protos==1.5.6
humanfriendly==4.17
idna==2.8
ipdb==0.11
ipfsapi==0.4.3
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Mako==1.0.7
MarkupSafe==1.1.0
monotonic==1.5
normality==1.0.0
parso==0.3.3
pexpect==4.6.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==2.0.8
property-manager==2.3.1
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
Pygments==2.3.1
PyICU==2.2
python-dateutil==2.7.5
python-editor==1.0.4
python-wordpress-xmlrpc==2.3
pytz==2018.9
PyYAML==3.13
requests==2.21.0
rsa==4.0
six==1.12.0
SQLAlchemy==1.2.17
traitlets==4.3.2
urllib3==1.24.1
verboselogs==1.7
wcwidth==0.1.7
-e git+https://github.com/rg3/youtube-dl.git@07fbfef1c7e36b25dd7098be73ab76b87378a015#egg=youtube_dl
