upstream ipfs_upstream {
    server host.sadhguru.digital:18080;
}
server {
    listen 80 http2;
    server_name videos.sadhguru.digital ipfs.sadhguru.digital;
    location / {
        proxy_pass http://ipfs_upstream;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
    }

    location = /favicon.ico {
        return 204;
        access_log     off;
        log_not_found  off;
    }


    listen 443 ssl http2; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/sadhguru.digital/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/sadhguru.digital/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}