
.widget_archive li, .widget_categories li {
  text-align: left;
}
.widget_archive li a, .widget_categories li a {
  float: none;
}

.ansia-menu {
    display: none
}



html {
    margin-top: -60px !important;
    }
}


video {
  object-fit: contain !important;
  }
}
