# copy this file to ~/.config/systemd/user/dyndns.service
# an then run loginctl enable-linger [user]

[Unit]

Description=Google CLoud DNS dyndns client
After=network-online.target

[Service]
Environment=GOOGLE_APPLICATION_CREDENTIALS=/home/pi/prj/videosdb/fileserver/dyndns/service-account.json
ExecStart=/bin/bash -c 'cloud-dyndns-client -config /home/pi/prj/videosdb/fileserver/dyndns/config.json'
Restart=on-failure

[Install]
WantedBy=default.target