# copy this file to ~/.config/systemd/user/ipfs.service
# an then run loginctl enable-linger [user]

[Unit]
Description=aMule daemon
After=rclone.service
AssertPathIsDirectory=/mnt/gcs

[Service]
ExecStart=/home/k/aMule-2.3.3/src/amuled
Restart=on-failure

[Install]
WantedBy=default.target

